{
    "support_sites": [
        {
            "name": "youtube",
            "regex": "(?:https:\\/\\/www\\.)?youtube\\.com/watch\\?v=([^\u0026]+)|(?:https:\\/\\/www\\.)?youtu\\.be/([^\u0026]+)"
        },
        {
            "name": "bilibili",
            "regex": "(?:https:\\/\\/www\\.)?bilibili\\.com/video/([^/]+)"
        },
        {
            "name": "soundcloud",
            "regex": "(?:https:\\/\\/www\\.)?soundcloud\\.com/([^/]+)/([^/]+)"
        },
        {
            "name": "nicovideo",
            "regex": "(?:https:\\/\\/www\\.)?nicovideo\\.jp/watch/([^/]+)"
        }
    ]
}