<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaichu.video2ringtone</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>03BCD0DF-C2C2-4D7C-8881-AB5F12B61277</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>833965A8-50B4-45A9-B98F-64FFE6B40E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03BCD0DF-C2C2-4D7C-8881-AB5F12B61277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>469D80C9-6508-480E-8992-DF530C8CA046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C0BDE92-B2B0-43CC-89B6-20A0C1AEA13B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61338289-2042-4FE8-BB39-594CC313C789</key>
		<array/>
		<key>6F5CB455-2F0E-4069-B0ED-7E6387CA5FAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F252ADEA-5571-45A2-8321-A68A3565C51A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>701DDABB-0FD5-46B8-9E87-FF65B7762F75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F5CB455-2F0E-4069-B0ED-7E6387CA5FAE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C14EE479-8A76-4654-82AE-E5CB93857AC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>833965A8-50B4-45A9-B98F-64FFE6B40E72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61338289-2042-4FE8-BB39-594CC313C789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55D6BFA5-8C4A-411E-A5F4-1A3CDB5B1E2B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F5CB455-2F0E-4069-B0ED-7E6387CA5FAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2AD1AF87-8F91-464A-A52C-04A9D83D5885</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB332F2B-1221-46FC-A361-24F7989A420D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2DBFFDA9-DCBD-4712-9FC8-8EA0AFCFE812</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C14EE479-8A76-4654-82AE-E5CB93857AC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>48278E84-9280-48E1-B62D-959C7EAFBCD2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8D40F56-8F6B-413A-9C05-6550F4E6D2FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE6C57FC-05DE-43C9-B80C-2CD77EE2541B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C14EE479-8A76-4654-82AE-E5CB93857AC5</key>
		<array/>
		<key>C3D1F95A-9CE3-417B-A4FE-A45A2D2F002B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10706BAB-B93A-427D-8632-CA6D998F2B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5D01C04-489D-4334-B3EF-241ACA937B37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>987D4813-F23E-4FA3-8FF8-F0849445762D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D444A531-2963-4383-80F4-FF0F5D83F476</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D40F56-8F6B-413A-9C05-6550F4E6D2FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCE686B0-C372-41A1-AC2E-4B0B3757BEC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>701DDABB-0FD5-46B8-9E87-FF65B7762F75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE6C57FC-05DE-43C9-B80C-2CD77EE2541B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>349B90A8-36CF-42B7-83FF-6F6FF6E10786</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KAI CHU CHUNG</string>
	<key>description</key>
	<string>Convert video to ringtone</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Video 2 Ringtone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:message}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>349B90A8-36CF-42B7-83FF-6F6FF6E10786</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>notifier</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D444A531-2963-4383-80F4-FF0F5D83F476</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>B8D40F56-8F6B-413A-9C05-6550F4E6D2FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>message</key>
					<string>{var:split2}</string>
					<key>title</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DE6C57FC-05DE-43C9-B80C-2CD77EE2541B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe trigger -i "${input}" -- $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61338289-2042-4FE8-BB39-594CC313C789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Convert video 2 ringtone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5C0BDE92-B2B0-43CC-89B6-20A0C1AEA13B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe remove "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F5CB455-2F0E-4069-B0ED-7E6387CA5FAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F252ADEA-5571-45A2-8321-A68A3565C51A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>convert</string>
						<key>outputlabel</key>
						<string>Trigger</string>
						<key>uid</key>
						<string>55D6BFA5-8C4A-411E-A5F4-1A3CDB5B1E2B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>remove</string>
						<key>outputlabel</key>
						<string>Remove Item</string>
						<key>uid</key>
						<string>2AD1AF87-8F91-464A-A52C-04A9D83D5885</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open-url</string>
						<key>outputlabel</key>
						<string>Open URL</string>
						<key>uid</key>
						<string>2DBFFDA9-DCBD-4712-9FC8-8EA0AFCFE812</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred-action</string>
						<key>outputlabel</key>
						<string>Action in Alfred</string>
						<key>uid</key>
						<string>48278E84-9280-48E1-B62D-959C7EAFBCD2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>833965A8-50B4-45A9-B98F-64FFE6B40E72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>detect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>469D80C9-6508-480E-8992-DF530C8CA046</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe parse $1 -i "${input}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Ringtone Maker</string>
				<key>title</key>
				<string>Ringtone Maker</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>03BCD0DF-C2C2-4D7C-8881-AB5F12B61277</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>00:00:00,{var:DURATION},{var:FADEIN},{var:FADEOUT}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:KEYWOARD_DETECT}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe detect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Detet Video and Convert 2 Ringtone</string>
				<key>title</key>
				<string>Detet Video and Convert 2 Ringtone</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C5D01C04-489D-4334-B3EF-241ACA937B37</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FB332F2B-1221-46FC-A361-24F7989A420D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:KEYWORD_LIST}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe list -- "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List converted ringtone</string>
				<key>title</key>
				<string>List converted ringtone</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>701DDABB-0FD5-46B8-9E87-FF65B7762F75</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DCE686B0-C372-41A1-AC2E-4B0B3757BEC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>C14EE479-8A76-4654-82AE-E5CB93857AC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>987D4813-F23E-4FA3-8FF8-F0849445762D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Cancel Background job if stuck"}]</string>
				<key>keyword</key>
				<string>{var:KEYWORD_CANCEL}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Cancel Background job if stuck</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C3D1F95A-9CE3-417B-A4FE-A45A2D2F002B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe cancel</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10706BAB-B93A-427D-8632-CA6D998F2B23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-video2ringtone

Alfred workflow to convert video to ringtone

![](2.png)

## Prerequisites

- Alfred 5
- [yt-dlp/yt-dlp: A youtube-dl fork with additional features and fixes](https://github.com/yt-dlp/yt-dlp) version 2023.07.06
- [FFmpeg/FFmpeg](https://github.com/FFmpeg/FFmpeg)

## Features

- Convert Video to `m4a` ringtone embeded cover art
- Custom ringtone duration (max 40 seconds), fade in/out duration
- Universal Action `Convert video 2 ringtone` to convert video to ringtone
- Detect video from browser and clipboard:
	- Browser: Safari, Google Chrome, Chromium, Opera, Vivaldi, Brave Browser, Microsoft Edge
- Support Sites `support-site.json` is depend on [yt-dlp/yt-dlp](https://github.com/yt-dlp/yt-dlp) support sites. It's possible to add more sites by yourself. The folloiwing sites are added by default:
	- Youtube
	- Bilibili
	- nicovideo
	- soundcloud

## Installation

Visit the [Releases](https://github.com/cage1016/alfred-video2ringtone/releases) to download the latest release.

## Usage

### Ringtone concept

![](duration.png)

## List exist ringtone

- `vl` keyword to list exist ringtone
- `⇧` to preview
- `⌥+↩` to remove ringtone
- `^+↩` to re-convert ringtone again
- `↩` with `Action in Alfred`

![](3.png)

### Detect video from browser

- `vd` keyword to detect video from browser or clipboard

![](5.png)

- `⌥+↩` to launch `support-site.json` 

![](4.png)

### Convert video 2 ringtone &amp; preview

`
HH:MM:SS ex: 00:00:30
HH:MM:SS,duration ex: 00:00:30,2
HH:MM:SS,duration,FadeIn&amp;Out  ex: 00:00:30,2,2
HH:MM:SS,duration,FadeIn,FadeOut ex: 00:00:30,3,2,2
`

#### URL
- `⌘+L` for above help
- `⇧` to preview URL page
- `⌥+↩` to Open URL page

#### Ringtone
- `⇧` to preview ringtone
- `⌥+↩` to remove ringtone
- `↩` with `Action in Alfred`

![](1.png)

### Cancel

Due to workflow leverage `yt-dlp` and `ffmpeg` to download video and convert to `mpa` format ringtone as background process. If you want to cancel the stuck process, just type `vc` keyword.

![](cancel.png)

## Third Party Libraries
- [wellmoon/m4aTag: add or modify tag for m4a file by golang](https://github.com/wellmoon/m4aTag)

## Change Log

### 0.1.0-rc.1
- Initial release

https://github.com/cage1016/alfred-video2ringtone</string>
	<key>uidata</key>
	<dict>
		<key>03BCD0DF-C2C2-4D7C-8881-AB5F12B61277</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>10706BAB-B93A-427D-8632-CA6D998F2B23</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>349B90A8-36CF-42B7-83FF-6F6FF6E10786</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>3EA52F77-CF6A-4F12-BCAC-024B03C90FCF</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>469D80C9-6508-480E-8992-DF530C8CA046</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>5C0BDE92-B2B0-43CC-89B6-20A0C1AEA13B</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>61338289-2042-4FE8-BB39-594CC313C789</key>
		<dict>
			<key>note</key>
			<string>trigger convert as background job</string>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>6F5CB455-2F0E-4069-B0ED-7E6387CA5FAE</key>
		<dict>
			<key>note</key>
			<string>remove item</string>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>701DDABB-0FD5-46B8-9E87-FF65B7762F75</key>
		<dict>
			<key>note</key>
			<string>List ringtons</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>833965A8-50B4-45A9-B98F-64FFE6B40E72</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>987D4813-F23E-4FA3-8FF8-F0849445762D</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>B8D40F56-8F6B-413A-9C05-6550F4E6D2FE</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C14EE479-8A76-4654-82AE-E5CB93857AC5</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>C3D1F95A-9CE3-417B-A4FE-A45A2D2F002B</key>
		<dict>
			<key>note</key>
			<string>Cancel Background Job</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>C5D01C04-489D-4334-B3EF-241ACA937B37</key>
		<dict>
			<key>note</key>
			<string>Detect ringtons from browser or clipboard</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>D444A531-2963-4383-80F4-FF0F5D83F476</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>DCE686B0-C372-41A1-AC2E-4B0B3757BEC8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>DE6C57FC-05DE-43C9-B80C-2CD77EE2541B</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>F252ADEA-5571-45A2-8321-A68A3565C51A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>FB332F2B-1221-46FC-A361-24F7989A420D</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop/video2ringtone</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>ringtone destination</string>
			<key>label</key>
			<string>Output folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>OUTPUT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vl</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List all m4a ringtones from output folder</string>
			<key>label</key>
			<string>Keyword List</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_LIST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Detect URL from browser or clipboard</string>
			<key>label</key>
			<string>Keyword Detect</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWOARD_DETECT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Cancel Background job if stuck</string>
			<key>label</key>
			<string>Keyword Cancel</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD_CANCEL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>pairs</key>
				<array>
					<array>
						<string>10</string>
						<string>10</string>
					</array>
					<array>
						<string>20</string>
						<string>20</string>
					</array>
					<array>
						<string>30</string>
						<string>30</string>
					</array>
					<array>
						<string>40</string>
						<string>40</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Tip: iOS maximum is 30s</string>
			<key>label</key>
			<string>Duration</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>DURATION</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>pairs</key>
				<array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Fade In</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>FADEIN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>pairs</key>
				<array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Fade Out</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>FADEOUT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Show debug convert.log file</string>
			<key>label</key>
			<string>Debug</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>DEBUG</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0-rc.1</string>
	<key>webaddress</key>
	<string>https://github.com/cage1016/alfred-video2ringtone</string>
</dict>
</plist>
